# * Host-dependent environment

# Hostname stub to make this example generic.
function hostname() {
    echo private
}

# Load host-dependent environment using the hostname.
source_env_if_exists .envrc.$(hostname)

# Check host-dependent variables:

# Host-dependent variable description.
env_vars_required ENVRC_HOST_VAR

# * Project environement

# Project variable description.
export ENVRC_PROJECT_VAR=1

# Dynamic variable depending from a function in another file. Allows to use
# external tools to detect the environment (e.g. find a port from a plugged
# device).
export ENVRC_DYNAMIC_VAR="$(source ./lib.sh && find_usb_device)"
